/* * {
    background-color: #69779b;
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-start;
} */
#titleofpage {
    font-size: 25px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    width: 100%;
    /* border: 2px solid salmon; */
    margin-bottom: 50px;
}
main {
    width: 100%;
}
body {
    background-color: #69779b;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.highlight {
    color: salmon;
}
#textholderdiv {
    /* border: 2px salmon solid; */
    width: 50vw;
    font-size: 22px;
}
#bigcontainer {
    display: flex;
    justify-content: space-around;
}
#smallwindow {
    width: 40vw;
    /* border: 2px solid salmon; */
    font-size: 22px;
}
.inline {
    display: inline-block;
    margin: 0;
}
.extramargin {
    margin: 22px 0;
}
